@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    align-content: center;
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(7deg, rgba(238, 238, 249, 0) 5%, rgba(238, 238, 249, 1) 56%);
}

.form-contact-container {
    /* background: #FAFCFF; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}


.contact-input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Manrope', sans-serif;
    outline: none;
    background: transparent;
}

.contact-input-field::placeholder {
    text-transform: uppercase;
    font-weight: 700;
}

.submit-button {
    background: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    float: right;
    clear: both;
    gap: 5px;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

.submit-button svg {
    transform: rotate(45deg);
}

.submit-button:hover {
    background: #272727;
}

.contact-header .title {
    font-size: 50px;
}

.contact-header .subtitle {
    font-size: 20px;
}

.contact-input-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.loader {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 0.6s linear infinite;
    margin-left: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.response-message {
    font-size: 12px;
}

.contact-cont {
    padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
    .form-contact-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-header .title {
        font-size: 40px;
    }

    .contact-header {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .contact-input-flex {
        flex-direction: column;
        gap: 0;
    }

    .contact-input-field {
        padding: 7px 0;
    }

    .contact-header .subtitle {
        font-size: 18px;
    }
}